.resume {
  background-color: blue;
  box-shadow: 0 5px 0 darkred;
  color: white;
  padding: 0.3em 0.2em;
  position: relative;
  text-decoration: none;
  margin: 10px;
}

.resume:hover {
  background-color: #ce0606;
  cursor: pointer;
}

.resume:active {
  box-shadow: none;
  top: 5px;
}
